.directory {
    display: flex;
}

.studentDirectory {
    flex: 50%;
}

table {
    padding: 5px;
    border: 1px solid;
    margin: 30px;
    border-radius: 10px;
}

tbody {
    border: 1px solid;
}


