.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}


.App-link {
  color: #61dafb;
}

.header {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 750;
  padding: 20px;
  background-color: rgb(149, 202, 218, 0.5);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.App{
  padding: 25px;
}

.navbar{
  padding: 15px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(149, 202, 218);
  border-radius: 20px;
  margin-bottom: 20px;
}

.nav{
  margin-right: 100px;
}