.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.header {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 750;
  padding: 30px;
  background-color: rgb(255, 255, 255);
}
.App{
  padding: 25px;
}
.navbar{
  padding: 15px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(149, 202, 218);
}
.nav{
  margin-right: 100px;
}